
doctype html
head
body
  div
   p
    b Hi #{user.name}
  div
    p #{user.message}
    p #{user.email}
    p #{user.phone}
    p #{user.region}
    p #{user.city}
    p #{user.tip}
    p #{user.obs}
    
