doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    title
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style(type='text/css').
      #outlook a { padding: 0; }  .ReadMsgBody { width: 100%; }  .ExternalClass { width: 100%; }  .ExternalClass * { line-height:100%; }  body { margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }  table, td { border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }  img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }  p { display: block; margin: 13px 0; }
    // [if !mso] <!
    style(type='text/css').
      @media only screen and (max-width:480px) {    @-ms-viewport { width:320px; }    @viewport { width:320px; }  }
    // <![endif]
    //if mso
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    //if lte mso 11
      style(type='text/css').
        .outlook-group-fix {    width:100% !important;  }
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700', rel='stylesheet', type='text/css')
    style(type='text/css').
      @import url(https://fonts.googleapis.com/css?family=Lato);  @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
    // <![endif]
    style(type='text/css').
      @media only screen and (min-width:480px) {    .mj-column-per-100 { width:100%!important; }.mj-column-per-50 { width:50%!important; }  }
  body(style='background: #FFFFFF;')
    .mj-container(style='background-color:#FFFFFF;')
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tbody
            tr
              td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')       
      table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', border='0')
        tbody
          tr
            td
              div(style='margin:0px auto;max-width:600px;')
                table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                  tbody
                    tr
                      td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:35px 0px 35px 0px;')
                        //if mso | IE
                          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                              tr
                                td(style='vertical-align:top;width:600px;')       
                        .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                          table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                            tbody
                              tr
                                td(style='word-wrap:break-word;font-size:0px;padding:0px 0px 0px 0px;', align='center')
                                  table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='center', border='0')
                                    tbody
                                      tr
                                        td(style='width:258px;')
                                          a(href='https://www.wetterbest.ro/wp-content/themes/wtb-child/img/logo.png', target='_blank')
                                            img(alt='', height='auto', src='https://www.wetterbest.ro/wp-content/themes/wtb-child/img/logo.png', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:auto;', width='258')
                        //if mso | IE
                        //if mso | IE
                        //if mso | IE
                          table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
                            tbody
                              tr
                                td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')       
                        table(role='presentation', cellpadding='0', cellspacing='0', style='background:red;font-size:0px;width:100%;', border='0')
                          tbody
                            tr
                              td
                                div(style='margin:0px auto;max-width:600px;')
                                  table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                                    tbody
                                      tr
                                        td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px 0px 0px 0px;')
                                          //if mso | IE
                                            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                              tbody
                                                tr
                                                  td(style='vertical-align:top;width:600px;')       
                                          .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                            table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                              tbody
                                                tr
                                                  td(style='word-wrap:break-word;font-size:0px;')
                                                    div(style='font-size:1px;line-height:50px;white-space:nowrap;')  
                                                tr
                                                  td(style='word-wrap:break-word;font-size:0px;padding:0px 0px 0px 0px;', align='center')
                                                    div(style='cursor:auto;color:#FFFFFF;font-family:Lato, Tahoma, sans-serif;font-size:14px;line-height:22px;text-align:center;')
                                                      h1(style="font-family: 'Cabin', sans-serif; color: #FFFFFF; font-size: 32px; line-height: 100%;")
                                                        span(style='font-size:36px;') Reminder lead : #{user.name}
                                                tr
                                                  td(style='word-wrap:break-word;font-size:0px;padding:20px 20px 20px 20px;', align='center')
                                                    div(style='cursor:auto;color:#FFFFFF;font-family:Arial, sans-serif;font-size:11px;line-height:1.5;text-align:center;')
                                                      p
                                                        span(style='font-size:24px;')
                                                          | La data de <br><br> #{user.sent_date} <br><br> ați primit un lead din partea noastră. Vă rugam să ne comunicați status-ul lead-ului in cel mai scurt timp posibil.
                                                tr
                                                  td(style='word-wrap:break-word;font-size:0px;')
                                                    div(style='font-size:1px;line-height:50px;white-space:nowrap;')  
                                          //if mso | IE
                                          //if mso | IE
                                          //if mso | IE
                                            table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
                                              tbody
                                                tr
                                                  td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')       
                                          div(style='margin:0px auto;max-width:600px;background:#FFFFFF;')
                                            table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:#FFFFFF;', align='center', border='0')
                                              tbody
                                                tr
                                                  td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:13px 0px 13px 0px;')
                                                    //if mso | IE
                                                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                                        tbody
                                                          tr
                                                            td(style='vertical-align:top;width:300px;')       
                                                    .mj-column-per-50.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                                      table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                                        tbody
                                                          tr
                                                            td(style='word-wrap:break-word;font-size:0px;padding:0px 0px 0px 0px;', align='center')
                                                              div(style='cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1.5;text-align:center;')
                                                                p
                                                                  span(style='font-size:20px;') Nume : #{user.name}
                                                                p
                                                                  span(style='font-size:20px;') Email : #{user.email}
                                                                p
                                                                  span(style='font-size:20px;') Telefon : #{user.phone}
                                                                p
                                                    //if mso | IE
                                                    .mj-column-per-50.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                                      table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                                        tbody
                                                          tr
                                                            td(style='word-wrap:break-word;font-size:0px;padding:0px 0px 0px 0px;', align='center')
                                                              div(style='cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1.5;text-align:center;')
                                                                p
                                                                  span(style='font-size:20px;') Judet : #{user.region}
                                                                p
                                                                  span(style='font-size:20px;') Oras : #{user.city} 
                                                                p
                                                                  span(style='font-size:20px;') Tip : #{user.tip}
                                                    //if mso | IE
                                                    //if mso | IE
                                                    //if mso | IE
                                                      table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
                                                        tbody
                                                          tr
                                                            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')       
                                                    div(style='margin:0px auto;max-width:600px;background:#FFFFFF;')
                                                      table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:#FFFFFF;', align='center', border='0')
                                                        tbody
                                                          tr
                                                            td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:24px 0px 24px 0px;')
                                                              //if mso | IE
                                                                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                                                  tbody
                                                                    tr
                                                                      td(style='vertical-align:top;width:600px;')       
                                                              .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                                                table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                                                  tbody
                                                                    tr
                                                                      td(style='word-wrap:break-word;font-size:0px;padding:0px 0px 0px 0px;', align='center')
                                                                        div(style='cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1.5;text-align:center;')
                                                                          p
                                                                            span(style='font-size:20px;') Observatii:  #{user.obs}
                                                                          p
                                                              //if mso | IE
                                                              //if mso | IE
                                                              //if mso | IE
                                                                table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
                                                                  tbody
                                                                    tr
                                                                      td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')       
                                                              table(role='presentation', cellpadding='0', cellspacing='0', style='background:#5A931D;font-size:0px;width:100%;', border='0')
                                                                tbody
                                                                  tr
                                                                    td
                                                                      div(style='margin:0px auto;max-width:600px;')
                                                                        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                                                                          tbody
                                                                            tr
                                                                              td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:37px 0px 37px 0px;')
                                                                                //if mso | IE
                                                                                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                                                                    tbody
                                                                                      tr
                                                                                        td(style='vertical-align:top;width:600px;')       
                                                                                .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                                                                  table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                                                                    tbody
                                                                                      tr
                                                                                        td(style='word-wrap:break-word;font-size:0px;padding:15px 15px 15px 15px;', align='center')
                                                                                          div(style='cursor:auto;color:#FFFFFF;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1.5;text-align:center;')
                                                                                            p
                                                                                              span(style='font-size:24px;')
                                                                                                | Dacă ați soluționat oferta de mai sus, va rugăm  folosiți butoanele de mai jos pentru a ne transmite status-ul lead-ului
                                                                                //if mso | IE
                                                                                //if mso | IE
                                                                                //if mso | IE
                                                                                  table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
                                                                                    tbody
                                                                                      tr
                                                                                        td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')       
                                                                                table(role='presentation', cellpadding='0', cellspacing='0', style='background:#FFFFFF;font-size:0px;width:100%;', border='0')
                                                                                  tbody
                                                                                    tr
                                                                                      td
                                                                                        div(style='margin:0px auto;max-width:600px;')
                                                                                          table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                                                                                            tbody
                                                                                              tr
                                                                                                td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:9px 0px 9px 0px;')
                                                                                                  //if mso | IE
                                                                                                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                                                                                      tbody
                                                                                                        tr
                                                                                                          td(style='vertical-align:top;width:300px;')       
                                                                                                  .mj-column-per-50.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                                                                                    table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                                                                                      tbody
                                                                                                        tr
                                                                                                          td(style='word-wrap:break-word;font-size:0px;padding:13px 0px 13px 0px;', align='center')
                                                                                                            table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:separate;', align='center', border='0')
                                                                                                              tbody
                                                                                                                tr
                                                                                                                  td(style='border:none;border-radius:24px;color:#fff;cursor:auto;padding:12px 34px;', align='center', valign='middle', bgcolor='#2ecc71')
                                                                                                                    a(href="http://72c578e3.ngrok.io/leads/insert/status/success/"+user.name, style='text-decoration:none;background:#2ecc71;color:#fff;font-family:Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;font-size:17px;font-weight:normal;line-height:120%;text-transform:none;margin:0px;', target='_blank') Lead soluționat cu succes
                                                                                                  //if mso | IE
                                                                                                  .mj-column-per-50.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                                                                                    table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                                                                                      tbody
                                                                                                        tr
                                                                                                          td(style='word-wrap:break-word;font-size:0px;padding:0px 0px 0px 0px;', align='left')
                                                                                                            div(style='cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1.5;text-align:left;')
                                                                                                              p
                                                                                                                | * Pentru soluționarea lead-ului cu succes, va rugăm să completați numărul facturii de achiziție
                                                                                                  //if mso | IE
                                                                                                  //if mso | IE
                                                                                                  //if mso | IE
                                                                                                    table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
                                                                                                      tbody
                                                                                                        tr
                                                                                                          td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')       
                                                                                                  table(role='presentation', cellpadding='0', cellspacing='0', style='background:#FFFFFF;font-size:0px;width:100%;', border='0')
                                                                                                    tbody
                                                                                                      tr
                                                                                                        td
                                                                                                          div(style='margin:0px auto;max-width:600px;')
                                                                                                            table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                                                                                                              tbody
                                                                                                                tr
                                                                                                                  td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:9px 0px 9px 0px;')
                                                                                                                    //if mso | IE
                                                                                                                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                                                                                                        tbody
                                                                                                                          tr
                                                                                                                            td(style='vertical-align:top;width:300px;')       
                                                                                                                    .mj-column-per-50.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                                                                                                      table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                                                                                                        tbody
                                                                                                                          tr
                                                                                                                            td(style='word-wrap:break-word;font-size:0px;padding:13px 0px 13px 0px;', align='center')
                                                                                                                              table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:separate;', align='center', border='0')
                                                                                                                                tbody
                                                                                                                                  tr
                                                                                                                                    td(style='border:none;border-radius:24px;color:#fff;cursor:auto;padding:12px 34px;', align='center', valign='middle', bgcolor='#D0021B')
                                                                                                                                      a(href="http://72c578e3.ngrok.io/leads/insert/status/fail/"+user.name, style='text-decoration:none;background:#D0021B;color:#fff;font-family:Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;font-size:17px;font-weight:normal;line-height:120%;text-transform:none;margin:0px;', target='_blank') Lead pierdut
                                                                                                                    //if mso | IE
                                                                                                                    .mj-column-per-50.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                                                                                                      table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                                                                                                        tbody
                                                                                                                          tr
                                                                                                                            td(style='word-wrap:break-word;font-size:0px;padding:11px 11px 11px 11px;', align='left')
                                                                                                                              div(style='cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1.5;text-align:left;')
                                                                                                                                p * Va rugam completati motivul 
                                                                                                                    //if mso | IE
                                                                                                                    //if mso | IE
                                                                                                                    //if mso | IE
                                                                                                                      table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
                                                                                                                        tbody
                                                                                                                          tr
                                                                                                                            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')       
                                                                                                                    table(role='presentation', cellpadding='0', cellspacing='0', style='background:#FFFFFF;font-size:0px;width:100%;', border='0')
                                                                                                                      tbody
                                                                                                                        tr
                                                                                                                          td
                                                                                                                            div(style='margin:0px auto;max-width:600px;')
                                                                                                                              table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                                                                                                                                tbody
                                                                                                                                  tr
                                                                                                                                    td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:9px 0px 9px 0px;')
                                                                                                                                      //if mso | IE
                                                                                                                                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                                                                                                                          tbody
                                                                                                                                            tr
                                                                                                                                              td(style='vertical-align:top;width:300px;')       
                                                                                                                                      .mj-column-per-50.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                                                                                                                        table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                                                                                                                          tbody
                                                                                                                                            tr
                                                                                                                                              td(style='word-wrap:break-word;font-size:0px;padding:13px 0px 13px 0px;', align='center')
                                                                                                                                                table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:separate;', align='center', border='0')
                                                                                                                                                  tbody
                                                                                                                                                    tr
                                                                                                                                                      td(style='border:none;border-radius:24px;color:#fff;cursor:auto;padding:12px 34px;', align='center', valign='middle', bgcolor='#F5A623')
                                                                                                                                                        a(href="http://72c578e3.ngrok.io/leads/insert/status/wait/"+user.name, style='text-decoration:none;background:#F5A623;color:#fff;font-family:Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;font-size:17px;font-weight:normal;line-height:120%;text-transform:none;margin:0px;', target='_blank') Lead în așteptare
                                                                                                                                      //if mso | IE
                                                                                                                                      .mj-column-per-50.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                                                                                                                        table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                                                                                                                          tbody
                                                                                                                                      //if mso | IE
                                                                                                                                      //if mso | IE
                                                                                                                                      //if mso | IE
                                                                                                                                        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
                                                                                                                                          tbody
                                                                                                                                            tr
                                                                                                                                              td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')       
                                                                                                                                      table(role='presentation', cellpadding='0', cellspacing='0', style='background:#5A931D;font-size:0px;width:100%;', border='0')
                                                                                                                                        tbody
                                                                                                                                          tr
                                                                                                                                            td
                                                                                                                                              div(style='margin:0px auto;max-width:600px;')
                                                                                                                                                table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                                                                                                                                                  tbody
                                                                                                                                                    tr
                                                                                                                                                      td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:37px 0px 37px 0px;')
                                                                                                                                                        //if mso | IE
                                                                                                                                                          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                                                                                                                                            tbody
                                                                                                                                                              tr
                                                                                                                                                                td(style='vertical-align:top;width:600px;')       
                                                                                                                                                        .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                                                                                                                                                          table(role='presentation', cellpadding='0', cellspacing='0', style='vertical-align:top;', width='100%', border='0')
                                                                                                                                                            tbody
                                                                                                                                                              tr
                                                                                                                                                                td(style='word-wrap:break-word;font-size:0px;padding:15px 15px 15px 15px;', align='center')
                                                                                                                                                                  div(style='cursor:auto;color:#FFFFFF;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1.5;text-align:center;')
                                                                                                                                                                    p
                                                                                                                                                                      span(style='font-size: 24px;') Mulțumim, echipa Wetterbest
                                                                                                                                                        //if mso | IE
                                                                                                                                                        //if mso | IE
