html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')



img(src=("http://clinicaroua.ro/upload/logo.png"))

h2 Ati primit o programare, aveti mai jos datele de contact : 

p Nume : #{user.name} 
p Telefon : #{user.phone}
p Email : #{user.email}
p Departament : #{user.investigatie}
p Data nasterii : #{user.birthDate}
p Sex : #{user.sex},



p Va rugam sa folositi datele de mai sus pentru a contacta persoana care a solicitat programarea

h2 Multumim, 
p Echipa Roua.

p Acesta este un mesaj automat, nu raspundeti. 
p Pentru contact : +4 0730137527

